@model List<MakaleModel.Makale>
@{
    Layout = "~/Views/Shared/_siteLayout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-md-12">

            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>No</th>
                        <th>Ad</th>
                        <th>YayinTarihi</th>
                        <th>DergiNo</th>
                        <th>MakaleTuruNo</th>
                        <th>EndeksNo</th>
                        <th>Ozet</th>
                       
                    </tr>
                </thead>

                <tbody>
                    @foreach (var makale in Model)
                    {
                        <tr>
                            <td>@makale.No</td>
                            <td>@makale.Ad</td>
                            <td>@makale.YayinTarihi</td>
                            <td>@makale.DergiNo</td>
                            <td>@makale.MakaleTuruNo</td>
                            <td>@makale.EndeksNo</td>
                            <td>@makale.Ozet</td>
                        </tr>

                    }

                </tbody>

            </table>

        </div>

    </div>

</div>